openapi: 3.0.1
info:
  title: Item Management
  version: items
  description: |
    <div class="api-block">

    Use the methods in this section to:
      - [list items](/openapi/work-with-products#tag/listingItems) and [edit listings](/openapi/work-with-products#tag/listings)
      - get [item categories, subcategories, characteristics, and brands](/openapi/work-with-products#tag/categoriesSubcategoriesAndCharacteristics)
      - upload [media files](/openapi/work-with-products#tag/mediaFiles) for listings
      - set up [labels](/openapi/work-with-products#tag/labels) for item search
      - work with item [recommendations](/openapi/work-with-products#tag/recommendations)
      - set [prices and discounts](/openapi/work-with-products#tag/Prices-and-Discounts)
      - manage [item inventory](/openapi/work-with-products#tag/Seller-Warehouses-Inventory) and [warehouses](/openapi/work-with-products#tag/Seller-Warehouses), if you work with the sales model from the seller warehouse

    </div>
  x-file-name: items
security:
  - HeaderApiKey: []
tags:
  - name: Categories, Subcategories, and Characteristics
    x-displayName: Categories, Subcategories, and Characteristics
    description: ''
  - name: Listing Items
    x-displayName: Listing Items
    description: ''
  - name: Listings
    x-displayName: Listings
    description: ''
  - name: Media Files
    x-displayName: Media Files
    description: ''
  - name: Labels
    x-displayName: Labels
    description: ''
  - name: Recommendations
    x-displayName: Recommendations
    description: ''
  - name: Prices and Discounts
    description: ''
  - name: Seller Warehouses
    description: ''
  - name: Seller Warehouses Inventory
    description: ''
paths:
  /content/v2/object/parent/all:
    servers:
      - url: https://content-api.wildberries.ru
        description: |
          **Prod**
      - url: https://content-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Item Parent Categories
      description: |
        Returns the list of all item parent categories

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
            <li><a href="/openapi/promotion#tag/Recommendations/operation/postV1RecommendationsList">getting item recommendation list</a></li>
            <li><a href="/openapi/promotion#tag/Recommendations/operation/postV1RecommendationsSet">setting item recommendations</a></li>
        </ul>
        </div>
      tags:
        - Categories, Subcategories, and Characteristics
      parameters:
        - name: locale
          in: query
          description: |
            Language for response of the `name` field:
              - `ru` — Russian
              - `en` — English
              - `zh` — Chinese

            Not used in the sandbox
          schema:
            type: string
            example: en
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      type: object
                      properties:
                        name:
                          description: Category name
                          type: string
                          example: Электроника
                        id:
                          description: Parent category ID
                          type: integer
                          example: 479
                        isVisible:
                          description: Visibility on the site
                          type: boolean
                          example: true
                  error:
                    description: Error flag
                    type: boolean
                    example: false
                  errorText:
                    description: Error description
                    type: string
                    example: ''
                  additionalErrors:
                    description: Additional errors
                    nullable: true
                    type: string
                    example: ''
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/object/all:
    servers:
      - url: https://content-api.wildberries.ru
        description: |
          **Prod**
      - url: https://content-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Subcategories List
      description: |
        Returns the list of all available subcategories, parent categories and their IDs

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
            <li><a href="/openapi/promotion#tag/Recommendations/operation/postV1RecommendationsList">getting item recommendation list</a></li>
            <li><a href="/openapi/promotion#tag/Recommendations/operation/postV1RecommendationsSet">setting item recommendations</a></li>
        </ul>
        </div>
      tags:
        - Categories, Subcategories, and Characteristics
      parameters:
        - name: locale
          in: query
          schema:
            type: string
            example: en
          description: |
            Language for response of the `name` field:
              - `ru` — Russian
              - `en` — English
              - `zh` — Chinese

            Not used in the sandbox
        - name: name
          in: query
          schema:
            type: string
            example: Socks
          description: Search by item name (Socks), the search works by substring and can be conducted in any of the supported languages
        - name: limit
          in: query
          schema:
            type: integer
            example: 1000
            default: 30
          description: Number of search results, maximum 1,000
        - name: offset
          in: query
          schema:
            type: integer
            example: 5000
            default: 0
          description: How many results to skip. For example, with value `10`, the response will start with the 11 element
        - name: parentID
          in: query
          schema:
            type: integer
            example: 1000
          description: Subcategory parent category ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Categories and subcategories
                    items:
                      type: object
                      properties:
                        subjectID:
                          type: integer
                          description: Subcategory ID
                        parentID:
                          type: integer
                          description: Parent category ID
                        subjectName:
                          type: string
                          description: Subcategory name
                        parentName:
                          type: string
                          description: Parent category name
                  error:
                    type: boolean
                    description: Error flag
                  errorText:
                    type: string
                    description: Error text
                  additionalErrors:
                    nullable: true
                    description: Additional errors
                    type: string
              example:
                data:
                  - subjectID: 2560
                    parentID: 479
                    subjectName: 3D очки
                    parentName: Электроника
                  - subjectID: 1152
                    parentID: 858
                    subjectName: 3D-принтеры
                    parentName: Оргтехника
                error: false
                errorText: ''
                additionalErrors: null
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/object/charcs/{subjectId}:
    servers:
      - url: https://content-api.wildberries.ru
        description: |
          **Prod**
      - url: https://content-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Subcategory Characteristics
      description: |
        Returns list of the subcategory characteristics by its ID

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
            <li><a href="/openapi/promotion#tag/Recommendations/operation/postV1RecommendationsList">getting item recommendation list</a></li>
            <li><a href="/openapi/promotion#tag/Recommendations/operation/postV1RecommendationsSet">setting item recommendations</a></li>
        </ul>
        </div>
      tags:
        - Categories, Subcategories, and Characteristics
      parameters:
        - name: subjectId
          in: path
          required: true
          description: Subcategory ID
          schema:
            type: integer
            example: 105
        - name: locale
          in: query
          description: |
            Language for response of the `subjectName` and `name` fields:
              - `ru` — Russian
              - `en` — English
              - `zh` — Chinese

            Not used in the sandbox
          schema:
            type: string
            example: en
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Data
                    items:
                      type: object
                      properties:
                        charcID:
                          type: integer
                          description: Characteristics ID
                        subjectName:
                          type: string
                          description: Subcategory name
                        subjectID:
                          type: integer
                          description: Subcategory ID
                        name:
                          type: string
                          description: Characteristic name
                        required:
                          type: boolean
                          description: Characteristic required
                        unitName:
                          type: string
                          description: Unit (sm, gr and others)
                        maxCount:
                          type: integer
                          description: |
                            The maximum number of values that can be assigned to a characteristic when [creating](./work-with-products#tag/listingItems) or [editing](./work-with-products#tag/listings/paths/~1content~1v2~1cards~1update/post) listings.
                            <br>
                            Used only for characteristics with `"charcType":1` — array of strings.
                            <br>
                            For characteristics with `"charcType":4` — number, you can assign only one value.
                            <br><br>
                            For characteristics with `"maxCount":0`, the number of values is unlimited.
                        popular:
                          description: The characteristic is popular with users
                          type: boolean
                        charcType:
                          type: integer
                          description: |
                            Characteristic data type that should be used when [creating](./work-with-products#tag/listingItems) or [editing](./work-with-products#tag/listings/paths/~1content~1v2~1cards~1update/post) listings:
                              -  `1` — array of strings
                              -  `4` — number
                              -  `0` — characteristic is not used
                        hasFilter:
                          type: boolean
                          description: |
                            Key characteristic. Is it an important characteristic for buyers:
                              - `true` — yes
                              - `false` — no
                        isVariable:
                          type: boolean
                          description: |
                            A sign of variable characteristic. The value marks out the characteristics by which the variants differ from each other:
                              - `true` — item variants differ by this characteristic
                              - `false` — item variants do not differ by this characteristic
                        existNamedField:
                          type: boolean
                          description: "How to transfer a characteristic in requests for [creating](./work-with-products#tag/listingItems/paths/~1content~1v2~1cards~1upload/post),\_[creating with merge](./work-with-products#tag/listingItems/paths/~1content~1v2~1cards~1upload~1add/post), and\_[editing](./work-with-products#tag/listings/paths/~1content~1v2~1cards~1update/post) listings:\n  - `true` — as a separate parameter in the request\n  - `false` — in the `characteristics` array\n"
                  error:
                    type: boolean
                    description: Error flag
                  errorText:
                    type: string
                    description: Error description
                  additionalErrors:
                    type: string
                    description: Additional errors
                    nullable: true
                example:
                  data:
                    - charcID: 54337
                      subjectName: Кроссовки
                      subjectID: 105
                      name: Размер
                      required: false
                      unitName: см
                      maxCount: 0
                      popular: false
                      charcType: 4
                      hasFilter: true
                      isVariable: true
                      existNamedField: true
                  error: false
                  errorText: ''
                  additionalErrors: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/directory/colors:
    servers:
      - url: https://content-api.wildberries.ru
        description: |
          **Prod**
      - url: https://content-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Color
      description: |
        Provides values of color characteristic.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
            <li><a href="/openapi/promotion#tag/Recommendations/operation/postV1RecommendationsList">getting item recommendation list</a></li>
            <li><a href="/openapi/promotion#tag/Recommendations/operation/postV1RecommendationsSet">setting item recommendations</a></li>
        </ul>
        </div>
      tags:
        - Categories, Subcategories, and Characteristics
      parameters:
        - name: locale
          in: query
          description: |
            Language for response of the `subjectName` and `name` fields:
              - `ru` — Russian
              - `en` — English
              - `zh` — Chinese

            Not used in the sandbox
          schema:
            type: string
            example: en
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      type: object
                      properties:
                        name:
                          description: Color name
                          type: string
                          example: персиковый мелок
                        parentName:
                          description: Parent color name
                          type: string
                          example: оранжевый
                  error:
                    description: Error flag
                    type: boolean
                    example: false
                  errorText:
                    description: Error description
                    type: string
                    example: ''
                  additionalErrors:
                    description: Additional errors
                    nullable: true
                    type: string
                    example: ''
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/directory/kinds:
    servers:
      - url: https://content-api.wildberries.ru
        description: |
          **Prod**
      - url: https://content-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Gender
      description: |
        Provides values of gender characteristic.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
            <li><a href="/openapi/promotion#tag/Recommendations/operation/postV1RecommendationsList">getting item recommendation list</a></li>
            <li><a href="/openapi/promotion#tag/Recommendations/operation/postV1RecommendationsSet">setting item recommendations</a></li>
        </ul>
        </div>
      tags:
        - Categories, Subcategories, and Characteristics
      parameters:
        - name: locale
          in: query
          description: |
            Language for response of the `subjectName` and `name` fields:
              - `ru` — Russian
              - `en` — English
              - `zh` — Chinese

            Not used in the sandbox
          schema:
            type: string
            example: en
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: List of values for sex characteristic.
                    type: array
                    items:
                      type: string
                      example: Мужской
                  error:
                    description: Error flag
                    type: boolean
                    example: false
                  errorText:
                    description: Error description
                    type: string
                    example: ''
                  additionalErrors:
                    description: Additional errors
                    nullable: true
                    type: string
                    example: ''
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/directory/countries:
    servers:
      - url: https://content-api.wildberries.ru
        description: |
          **Prod**
      - url: https://content-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Country of Origin
      description: |
        Provides value of characteristic country of origin.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
            <li><a href="/openapi/promotion#tag/Recommendations/operation/postV1RecommendationsList">getting item recommendation list</a></li>
            <li><a href="/openapi/promotion#tag/Recommendations/operation/postV1RecommendationsSet">setting item recommendations</a></li>
        </ul>
        </div>
      tags:
        - Categories, Subcategories, and Characteristics
      parameters:
        - name: locale
          in: query
          description: |
            Language for response of the `subjectName` and `name` fields:
              - `ru` — Russian
              - `en` — English
              - `zh` — Chinese

            Not used in the sandbox
          schema:
            type: string
            example: en
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      type: object
                      properties:
                        id:
                          description: Country ID
                          type: integer
                          example: 15000170
                        name:
                          description: Value of characteristic country of origin
                          type: string
                          example: Китай
                        fullName:
                          description: Full country name
                          type: string
                          example: Китайская Народная Республика
                  error:
                    description: Error flag
                    type: boolean
                    example: false
                  errorText:
                    description: Error description
                    type: string
                    example: ''
                  additionalErrors:
                    description: Additional errors
                    nullable: true
                    type: string
                    example: ''
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/directory/seasons:
    servers:
      - url: https://content-api.wildberries.ru
        description: |
          **Prod**
      - url: https://content-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Season
      description: |
        Provide values of season characteristic

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
            <li><a href="/openapi/promotion#tag/Recommendations/operation/postV1RecommendationsList">getting item recommendation list</a></li>
            <li><a href="/openapi/promotion#tag/Recommendations/operation/postV1RecommendationsSet">setting item recommendations</a></li>
        </ul>
        </div>
      tags:
        - Categories, Subcategories, and Characteristics
      parameters:
        - name: locale
          in: query
          description: |
            Language for response of the `subjectName` and `name` fields:
              - `ru` — Russian
              - `en` — English
              - `zh` — Chinese

            Not used in the sandbox
          schema:
            type: string
            example: en
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Array of values for season characteristic
                    type: array
                    items:
                      type: string
                      example: демисезон
                  error:
                    description: Error flag
                    type: boolean
                    example: false
                  errorText:
                    description: Error description
                    type: string
                    example: ''
                  additionalErrors:
                    description: Additional errors
                    nullable: true
                    type: string
                    example: ''
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/directory/vat:
    servers:
      - url: https://content-api.wildberries.ru
        description: |
          **Prod**
      - url: https://content-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: VAT Rate
      description: |
        Returns a list of values for the **VAT rate** characteristic

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
            <li><a href="/openapi/promotion#tag/Recommendations/operation/postV1RecommendationsList">getting item recommendation list</a></li>
            <li><a href="/openapi/promotion#tag/Recommendations/operation/postV1RecommendationsSet">setting item recommendations</a></li>
        </ul>
        </div>
      tags:
        - Categories, Subcategories, and Characteristics
      parameters:
        - name: locale
          in: query
          description: |
            Language for response of the `subjectName` and `name` fields:
              - `ru` — Russian
              - `en` — English
              - `zh` — Chinese

            Not used in the sandbox
          schema:
            type: string
            example: ru
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: string
                  error:
                    type: boolean
                    description: Error flag
                  errorText:
                    type: string
                    description: Error text
                  additionalErrors:
                    nullable: true
                    type: string
                    description: Additional errors
              example:
                data:
                  - '0'
                  - '10'
                  - '20'
                  - Без НДС
                  - '13'
                error: false
                errorText: ''
                additionalErrors: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/directory/tnved:
    servers:
      - url: https://content-api.wildberries.ru
        description: |
          **Prod**
      - url: https://content-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: HS-codes
      description: |
        The method provides list of HS-codes by category name and filter by HS-code.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
            <li><a href="/openapi/promotion#tag/Recommendations/operation/postV1RecommendationsList">getting item recommendation list</a></li>
            <li><a href="/openapi/promotion#tag/Recommendations/operation/postV1RecommendationsSet">setting item recommendations</a></li>
        </ul>
        </div>
      tags:
        - Categories, Subcategories, and Characteristics
      parameters:
        - name: subjectID
          in: query
          required: true
          description: Subcategory ID
          schema:
            type: integer
            example: 105
        - name: search
          in: query
          description: Search by HS-code. Works only with the subjectID parameter
          schema:
            type: integer
            example: 6106903000
        - name: locale
          in: query
          description: |
            Language for response of the `subjectName` and `name` fields:
              - `ru` — Russian
              - `en` — English
              - `zh` — Chinese

            Not used in the sandbox
          schema:
            type: string
            example: en
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Data
                    type: array
                    items:
                      type: object
                      properties:
                        tnved:
                          type: string
                          description: HS-code
                        isKiz:
                          type: boolean
                          description: |
                            - `true` — [Chestny ZNAK](https://chestnyznak.ru/en) labeling code is required
                            - `false` — labeling code [Chestny ZNAK](https://chestnyznak.ru/en) is not required
                  error:
                    type: boolean
                    description: Error flag
                    example: false
                  errorText:
                    type: string
                    description: Error description
                  additionalErrors:
                    nullable: true
                    type: string
                    description: Additional errors
              example:
                data:
                  - tnved: '6106903000'
                    isKiz: true
                error: false
                errorText: ''
                additionalErrors: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /api/content/v1/brands:
    servers:
      - url: https://content-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Brands
      description: |
        The method returns list of brands by subcategory ID.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account:


        | Type | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- | --- |
        | Personal | 1 s | 1 request | 1 s | 5 requests |
        | Service | 1 s | 1 request | 1 s | 5 requests |
        | Base with secret | 1 s | 1 request | 1 s | 5 requests |
        | Base | 1 h | 1 request | 1 h | 1 request |
        </div>
      tags:
        - Categories, Subcategories, and Characteristics
      parameters:
        - name: subjectId
          in: query
          schema:
            type: integer
            example: 1234
          description: Subcategory ID
          required: true
        - name: next
          in: query
          schema:
            type: integer
            example: 1234
          description: Pagination parameter. Use the `next` value from the response to get the next data batch
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandsResponse'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BrandsResponseError'
              examples:
                BrandsResponseBadRequest1:
                  $ref: '#/components/examples/BrandsResponseBadRequest1'
                BrandsResponseBadRequest2:
                  $ref: '#/components/examples/BrandsResponseBadRequest2'
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BrandsResponseError'
              examples:
                BrandsResponseNotFound:
                  $ref: '#/components/examples/BrandsResponseNotFound'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/tags:
    servers:
      - url: https://content-api.wildberries.ru
        description: |
          **Prod**
      - url: https://content-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Labels List
      description: |
        Returns seller labels list

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
            <li><a href="/openapi/promotion#tag/Recommendations/operation/postV1RecommendationsList">getting item recommendation list</a></li>
            <li><a href="/openapi/promotion#tag/Recommendations/operation/postV1RecommendationsSet">setting item recommendations</a></li>
        </ul>
        </div>
      tags:
        - Labels
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    properties:
                      id:
                        description: Numeric label identifier
                        type: integer
                      color:
                        description: Label color
                        type: string
                      name:
                        description: Label name
                        type: string
                  error:
                    description: Error flag
                    type: boolean
                    example: false
                  errorText:
                    description: Error description
                    type: string
                    example: ''
                  additionalErrors:
                    description: Additional errors
                    nullable: true
                    type: string
                    example: ''
              example:
                data:
                  - id: 1
                    color: D1CFD7
                    name: Sale
                error: false
                errorText: ''
                additionalErrors: ''
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/tag:
    servers:
      - url: https://content-api.wildberries.ru
        description: |
          **Prod**
      - url: https://content-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    post:
      x-readonly-method: false
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Create a Label
      description: |
        Creates a label.

        It is possible to create 15 labels.

        The maximum length of a label is 15 characters

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
            <li><a href="/openapi/promotion#tag/Recommendations/operation/postV1RecommendationsList">getting item recommendation list</a></li>
            <li><a href="/openapi/promotion#tag/Recommendations/operation/postV1RecommendationsSet">setting item recommendations</a></li>
        </ul>
        </div>
      tags:
        - Labels
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                color:
                  description: |
                    Label color.

                    Available colors:
                      - `D1CFD7` — grey
                      - `FEE0E0` — red
                      - `ECDAFF` — purple
                      - `E4EAFF` — blue
                      - `DEF1DD` — green
                      - `FFECC7` — yellow
                  type: string
                  example: D1CFD7
                name:
                  description: Label name
                  type: string
                  example: Sale
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseContentError'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
              examples:
                responseBodyContentError400:
                  $ref: '#/components/examples/responseBodyContentError400'
                responseBody400LenName:
                  $ref: '#/components/examples/responseBody400LenName'
                responseBodyLimitLabel:
                  $ref: '#/components/examples/responseBodyLimitLabel'
                responseBodyNameNotExist:
                  $ref: '#/components/examples/responseBodyNameNotExist'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/tag/{id}:
    servers:
      - url: https://content-api.wildberries.ru
        description: |
          **Prod**
      - url: https://content-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    patch:
      x-readonly-method: false
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Update the Label
      description: |
        Changes label data: name and color

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
            <li><a href="/openapi/promotion#tag/Recommendations/operation/postV1RecommendationsList">getting item recommendation list</a></li>
            <li><a href="/openapi/promotion#tag/Recommendations/operation/postV1RecommendationsSet">setting item recommendations</a></li>
        </ul>
        </div>
      tags:
        - Labels
      parameters:
        - name: id
          in: path
          schema:
            type: integer
            example: 1
          description: Numeric label ID
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                color:
                  description: Label color
                  type: string
                  example: D1CFD7
                name:
                  description: Label name
                  type: string
                  example: Sale
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseContentError'
              examples:
                responseNotFound200:
                  $ref: '#/components/examples/responseNotFound200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/responseBodyContentError400'
              examples:
                responseBodyContentError400:
                  $ref: '#/components/examples/responseBodyContentError400'
                responseBody400LenName:
                  $ref: '#/components/examples/responseBody400LenName'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
    delete:
      x-readonly-method: false
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Delete the Label
      description: |
        Deletes the label

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
            <li><a href="/openapi/promotion#tag/Recommendations/operation/postV1RecommendationsList">getting item recommendation list</a></li>
            <li><a href="/openapi/promotion#tag/Recommendations/operation/postV1RecommendationsSet">setting item recommendations</a></li>
        </ul>
        </div>
      tags:
        - Labels
      parameters:
        - name: id
          in: path
          schema:
            type: integer
            example: 1
          description: Numeric label ID
          required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseContentError'
              examples:
                responseNotFound200Del:
                  $ref: '#/components/examples/responseNotFound200Del'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
              examples:
                responseBodyContentError400:
                  $ref: '#/components/examples/responseBodyContentError400'
                responseBodyLabelNotExist:
                  $ref: '#/components/examples/responseBodyLabelNotExist'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/tag/nomenclature/link:
    servers:
      - url: https://content-api.wildberries.ru
        description: |
          **Prod**
      - url: https://content-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    post:
      x-readonly-method: false
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Label Management in the Listing
      description: |
        The method allows to add labels to the listing and remove labels from the listing.<br>
        When removing a label from a listing, the label itself is not removed.<br>
        It is possible to add 15 labels to a listing.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
            <li><a href="/openapi/promotion#tag/Recommendations/operation/postV1RecommendationsList">getting item recommendation list</a></li>
            <li><a href="/openapi/promotion#tag/Recommendations/operation/postV1RecommendationsSet">setting item recommendations</a></li>
        </ul>
        </div>
      tags:
        - Labels
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nmID:
                  description: WB item number
                  type: integer
                tagsIDs:
                  description: |
                    An array of numeric label IDs.<br>
                    When removing a label from a listing, the label itself is not removed.<br>
                    To add labels to existing ones in the listing, you need to specify in the request the new labels and the labels that are already exist in the listing.
                  type: array
                  items:
                    type: integer
                    description: Numeric label identifier
            example:
              nmID: 179891389
              tagsIDs:
                - 123456
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseContentError'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseContentError'
              examples:
                IncorrectRequestNm:
                  $ref: '#/components/examples/IncorrectRequestNm'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/get/cards/list:
    servers:
      - url: https://content-api.wildberries.ru
        description: |
          **Prod**
      - url: https://content-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    post:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      tags:
        - Listings
      summary: Listings
      description: |
        Returns the list of listings.<br>

        <div class="description_important">
          Listings from the trash are not provided in the method response. You can get these listings via <a href="/openapi/work-with-products#tag/listings/paths/~1content~1v2~1get~1cards~1trash/post">different method</a>
        </div>

        To get **more than 100** listings, use pagination:
          1. Make the first request:
              <pre>
                {
                  "settings": {
                    "sort": {
                      "ascending": true
                    },
                    "cursor": {
                      "limit": 100
                    },
                    "filter": {
                      "withPhoto": -1
                    }
                  }
                }</pre>
             To get only new or updated listings after data export, use ascending sorting: `"sort":{"ascending":true}`.
          2. Copy `"updatedAt": "***","nmID":"***"` from the `cursor` in the response and insert into the `cursor` of your next request.
          3. Make the next request.
          4. Repeat 2 and 3 until `total` value in the response is less than the `limit` value in the request. This will mean you got all listings.

        To get only items that were listed or updated after the previous data export:
          1. Save the `"cursor":{"updatedAt":"***","nmID":"***"}` fields from the last response of the previous data export. When exporting the data, use ascending sorting: `"sort":{"ascending":true}`.
          2. Specify the saved `"cursor":{"updatedAt":"***","nmID":"***"}` fields in the first request. Keep using ascending sorting.
          3. Save the `"cursor":{"updatedAt":"***","nmID":"***"}` fields from the last response of the current data export.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
            <li><a href="/openapi/promotion#tag/Recommendations/operation/postV1RecommendationsList">getting item recommendation list</a></li>
            <li><a href="/openapi/promotion#tag/Recommendations/operation/postV1RecommendationsSet">setting item recommendations</a></li>
        </ul>
        </div>
      parameters:
        - name: locale
          in: query
          schema:
            type: string
            example: ru
          description: |
            Language for response of the `name`, `value` and `object` fields:
              - `ru` — Russian
              - `en` — English
              - `zh` — Chinese

            Not used in the sandbox
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                settings:
                  type: object
                  description: Settings
                  properties:
                    sort:
                      description: Sort by
                      type: object
                      properties:
                        ascending:
                          type: boolean
                          default: false
                          description: |
                            Sort by the `updatedAt` field:
                              - `false` — descending
                              -  `true` — ascending
                    filter:
                      description: Filters
                      type: object
                      properties:
                        withPhoto:
                          type: integer
                          enum:
                            - -1
                            - 0
                            - 1
                            - 2
                          description: |
                            Photo:
                              * `-1` — any listings
                              * `0` — only listings without photos. Starting from [June 16](https://dev.wildberries.ru/en/release-notes?id=531) — any listings
                              * `1` — only listings with photos
                              * `2` — only listings without photos. Starting from [June 16](https://dev.wildberries.ru/en/release-notes?id=531)
                          default: 0
                        textSearch:
                          type: string
                          description: Seller item number, Wildberries item number or SKU search
                        tagIDs:
                          type: array
                          description: Label ID search
                          items:
                            type: integer
                        allowedCategoriesOnly:
                          description: |
                            Category:
                              - `true` — permitted
                              - `false` — forbidden
                          type: boolean
                        objectIDs:
                          type: array
                          description: Subcategory ID search
                          items:
                            type: integer
                        brands:
                          type: array
                          description: Brand search
                          items:
                            type: string
                        imtID:
                          description: Merged listing ID search
                          type: integer
                    cursor:
                      description: |
                        Cursor
                      type: object
                      properties:
                        limit:
                          type: integer
                          maximum: 100
                          default: 10
                          description: Number of listings in response
                        updatedAt:
                          type: string
                          nullable: true
                          description: Update date and time
                        nmID:
                          type: integer
                          description: WB item number for next listing page
            example:
              settings:
                sort:
                  ascending: false
                filter:
                  textSearch: '4603743187500888'
                  allowedCategoriesOnly: true
                  tagIDs:
                    - 345
                    - 415
                  objectIDs:
                    - 235
                    - 67
                  brands:
                    - уллу
                    - EkkE
                  imtID: 328632
                  withPhoto: 0
                cursor:
                  updatedAt: '2023-12-06T11:17:00.96577Z'
                  nmID: 370870300
                  limit: 11
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  cards:
                    type: array
                    description: Listings
                    items:
                      type: object
                      properties:
                        nmID:
                          type: integer
                          description: WB item number
                        imtID:
                          type: integer
                          description: |
                            Merged listing ID.<br>
                            The same for all WB item number of group of merged listings.<br>
                            Every listing has `imtID`, even if is not merged with any other listing
                        nmUUID:
                          type: string
                          format: UUID
                          description: Internal system ID of the listing
                        subjectID:
                          type: integer
                          description: Subcategory ID
                        subjectName:
                          type: string
                          description: Subcategory name
                        vendorCode:
                          type: string
                          description: Seller item number
                        brand:
                          type: string
                          description: Brand
                        title:
                          type: string
                          description: Item title
                        description:
                          type: string
                          description: Item description
                        needKiz:
                          description: |
                            Is labeling code [Chestny ZNAK](https://chestnyznak.ru/en) required for the item:
                            <br>
                              - `false` — labeling code is not required
                            <br>
                              -`true` — labeling code is required
                          type: boolean
                        kizMarked:
                          type: boolean
                          default: false
                          nullable: false
                          description: |
                            Is there the confirmation from the seller that required labeling code [Chestny ZNAK](https://chestnyznak.ru/en) is applied to the item:
                              - `true` — yes
                              - `false` — no

                            Whether labeling code [Chestny ZNAK](https://chestnyznak.ru/en) is required is specified in the `needKiz` field
                        photos:
                          type: array
                          description: Photo array
                          items:
                            type: object
                            properties:
                              big:
                                description: URL of `900x1200` photo
                                type: string
                              c246x328:
                                description: URL of `248x328` photo
                                type: string
                              c516x688:
                                description: URL of `516x688` photo
                                type: string
                              square:
                                description: URL of `600x600` photo
                                type: string
                              tm:
                                description: URL of `75x100` photo
                                type: string
                        video:
                          type: string
                          description: Video URL
                        wholesale:
                          type: object
                          description: Wholesale
                          properties:
                            enabled:
                              type: boolean
                              description: Is the listing intended for wholesale
                            quantum:
                              type: number
                              format: uint64
                              description: Number of item units per package
                        dimensions:
                          description: Dimensions and weight of packed item in cm and kg
                          type: object
                          properties:
                            length:
                              type: integer
                              description: Length, cm
                            width:
                              type: integer
                              description: Width, cm
                            height:
                              type: integer
                              description: Height, cm
                            weightBrutto:
                              type: number
                              description: Weight, kg<br>Number of decimal places <=3
                            isValid:
                              type: boolean
                              description: |
                                Potential inaccuracy of item dimensions:

                                - `true` — not detected. `"isValid": true` does not guarantee that the dimensions are correct. In some cases (for example, when creating a new item category), `"isValid": true` will be returned for any values except zero.

                                - `false` — the specified dimensions significantly differ from the average for the category (subcategory). it is recommended to double-check whether the item dimensions in the packaging are correctly specified in `centimeters`. The functionality of the listing, including the calculation of logistics and storage, will not be limited. Logistics and storage will continue to be calculated based on the current dimensions. Also, `"isValid": false` is returned when there are missing values or any dimension is zero.
                        characteristics:
                          type: array
                          description: Characteristics
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: Characteristic ID
                              name:
                                type: string
                                description: Characteristic name
                              value:
                                description: Characteristic value
                        sizes:
                          type: array
                          description: Item sizes
                          items:
                            type: object
                            properties:
                              chrtID:
                                type: integer
                                description: Size ID
                              techSize:
                                type: string
                                description: Size (for example, S or 42)
                              wbSize:
                                type: string
                                description: Russian size
                              skus:
                                type: array
                                description: SKU
                                items:
                                  type: string
                                  example: 12345Ejf5
                        tags:
                          description: Labels
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: Label ID
                              name:
                                type: string
                                description: Label name
                              color:
                                type: string
                                description: |
                                  Label color:
                                    - `D1CFD7` — grey
                                    - `FEE0E0` — red
                                    - `ECDAFF` — purple
                                    - `E4EAFF` — blue
                                    - `DEF1DD` — green
                                    - `FFECC7` — yellow
                        createdAt:
                          type: string
                          description: Creation date and time
                        updatedAt:
                          type: string
                          description: Update date and time
                  cursor:
                    type: object
                    description: Paginator
                    properties:
                      updatedAt:
                        type: string
                        description: Date and time for next listing page
                      nmID:
                        type: integer
                        description: WB item number for next listing page
                      total:
                        type: integer
                        description: Number of listings
              example:
                cards:
                  - nmID: 12345678
                    imtID: 123654789
                    nmUUID: 01bda0b1-5c0b-736c-b2be-d0a6543e9be
                    subjectID: 7771
                    subjectName: AKF системы
                    vendorCode: wb7f6mumjr1
                    kizMarked: true
                    brand: Тест
                    title: Тест-система
                    description: Тестовое описание
                    needKiz: false
                    photos:
                      - big: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/big/1.webp
                        c246x328: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/c246x328/1.webp
                        c516x688: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/c516x688/1.webp
                        square: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/square/1.webp
                        tm: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/tm/1.webp
                    video: https://videonme-basket-12.wbbasket.ru/vol137/part22557/225577433/hls/1440p/index.m3u8
                    wholesale:
                      enabled: true
                      quantum: 112
                    dimensions:
                      length: 55
                      width: 40
                      height: 15
                      weightBrutto: 6.24
                      isValid: false
                    characteristics:
                      - id: 14177449
                        name: Цвет
                        value:
                          - красно-сиреневый
                    sizes:
                      - chrtID: 316399238
                        techSize: '0'
                        skus:
                          - '987456321654'
                    tags:
                      - id: 592569
                        name: Популярный
                        color: D1CFD7
                    createdAt: '2023-12-06T11:17:00.96577Z'
                    updatedAt: '2023-12-06T11:17:00.96577Z'
                cursor:
                  updatedAt: '2023-12-06T11:17:00.96577Z'
                  nmID: 123654123
                  total: 1
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
            plain/text:
              example: Request body can not be decoded
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/cards/error/list:
    servers:
      - url: https://content-api.wildberries.ru
        description: |
          **Prod**
      - url: https://content-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    post:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Failed Listings with Errors
      description: |
        Returns the list of listings ([drafts](https://seller.wildberries.ru/new-goods/error-cards)) and the list of errors encountered during listing creation or editing.
        <br><br>
        The data is returned in batches. One batch contains:
          - all errors for one `variants` array in one request during listings [creation](/openapi/work-with-products#tag/listingItems/paths/~1content~1v2~1cards~1upload/post)
          - all errors in one request during listings [creation with merge](/openapi/work-with-products#tag/listingItems/paths/~1content~1v2~1cards~1upload~1add/post) or [editing](/openapi/work-with-products#tag/listings/paths/~1content~1v2~1cards~1update/post).
        <br><br>
        To get more than 100 batches, use pagination:

          1. Make first request: <br>
              <pre style="background-color: rgb(38 50 56 / 5%); color: #e53935">
                {
                  "cursor": {
                    "limit": 100
                  },
                  "order": {
                    "ascending": true
                  }
                }</pre>
          2. Copy `"updatedAt":"***","batchUUID":"***"` from the response `cursor` and paste into the request `cursor`.
          3. Repeat the request.
          4. Repeat 2 and 3, until you receive in the response `"next":false`. This will mean that you have received all the batches.

        <div class="description_important">
          To delete listing from the errors list, repeat the request for creating or creating with merge and updating request with fixed errors
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 10 requests | 6 s | 5 requests |
        </div>
      tags:
        - Listings
      parameters:
        - name: locale
          in: query
          schema:
            type: string
            example: en
          description: |
            Language of subcategory names:
              - `ru` — Russian
              - `en` — English
              - `zh` — Chinese
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/requestPublicViewerPublicErrorsTableListV2'
            example:
              cursor:
                limit: 31
                updatedAt: '2025-08-05T17:54:40+08:00'
                batchUUID: bca3744c-1c8b-4588-b345-62af3b2899ae
              order:
                ascending: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsePublicViewerPublicErrorsTableListV2'
              example:
                data:
                  items:
                    - batchUUID: b15fecaf-57fd-4b63-ab6f-18d630b8793e
                      subjects:
                        wb15j2kjk9:
                          id: 8827
                          name: Автомобили с пробегом
                        wb3g6advyh:
                          id: 8827
                          name: Автомобили с пробегом
                        wb3g7xx8g9:
                          id: 8827
                          name: Автомобили с пробегом
                        wb4uphjn61:
                          id: 8827
                          name: Автомобили с пробегом
                        wb64nayozt:
                          id: 8827
                          name: Автомобили с пробегом
                      brands: {}
                      vendorCodes:
                        - wb64nayozt
                        - wb15j2kjk9
                        - wb3g7xx8g9
                        - wb3g6advyh
                        - wb4uphjn61
                      errors:
                        wb15j2kjk9:
                          - 'Поле Наименование не должно содержать запрещенные символы: 😈 😊 🤨'
                        wb3g6advyh:
                          - 'Поле Наименование не должно содержать запрещенные символы: 😊 🤨 😈'
                        wb3g7xx8g9:
                          - 'Поле Наименование не должно содержать запрещенные символы: 🤯'
                        wb4uphjn61:
                          - 'Поле Наименование не должно содержать запрещенные символы: 😊 🤨 😈'
                        wb64nayozt:
                          - 'Поле Наименование не должно содержать запрещенные символы: 😈 😊 🤨'
                      updatedAt: '2025-12-19T23:59:59Z'
                    - batchUUID: 30aa42ec-fb49-45ec-86d5-ddf9911e7e3f
                      subjects:
                        test_pasha1:
                          id: 184
                          name: Рубашки
                      brands: {}
                      vendorCodes:
                        - test_pasha1
                      errors:
                        test_pasha1:
                          - Запрещено использовать E-Mail в поле Наименование
                          - Запрещено использовать E-Mail в поле Описание
                      updatedAt: '2025-12-20T23:59:59Z'
                  cursor:
                    next: true
                    updatedAt: '2025-12-20T23:59:59Z'
                    batchUUID: 1cd79751-de1f-46c8-a444-a941d35dde56
                error: false
                errorText: ''
                additionalErrors: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/cards/update:
    servers:
      - url: https://content-api.wildberries.ru
        description: |
          **Prod**
      - url: https://content-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    post:
      x-readonly-method: false
      x-category: content
      tags:
        - Listings
      summary: Update Listings
      description: |
        Edits listings. Also use it to add new sizes.

        <div class="description_important">
          The listing is overwritten when updated. So the request must also include those listing parameters that you are not going to update. To get their values, use <a href="/openapi/work-with-products#tag/listings/paths/~1content~1v2~1get~1cards~1list/post">Listings</a> and <a href="/openapi/work-with-products#tag/listings/paths/~1content~1v2~1get~1cards~1trash/post">Listings in Trash</a>.
        </div>

        You cannot use this method to update or delete:
          - item size SKUs. You can only add additional SKUs
          - the `photos`, `video` and `tags` parameters
          - prices of items. The price can only be set if you add new sizes

        When adding a new size, specify its price using the `price` parameter. If no `price` is specified in the request, the size price will be `0`. In this case, you can update it using the methods:
          - [Set Prices and Discounts](/openapi/work-with-products#tag/Prices-and-Discounts/paths/~1api~1v2~1upload~1task/post), if [item](/openapi/work-with-products#tag/Prices-and-Discounts/paths/~1api~1v2~1list~1goods~1filter/get) has `"editablePriceSize":false`
          - [Set Size Prices](/openapi/work-with-products#tag/Prices-and-Discounts/paths/~1api~1v2~1upload~1task~1size/post), if [item](/openapi/work-with-products#tag/Prices-and-Discounts/paths/~1api~1v2~1list~1goods~1filter/get) has `"editablePriceSize":true`

        The dimensions of the items can only be specified in `centimeters`, and the weight of packed items must be specified in `kilograms`.
        <br><br>
        If this method response is Success (`200`) but listing was not updated, check errors using [failed listings with errors](/openapi/work-with-products#tag/listings/paths/~1content~1v2~1cards~1error~1list/post) method.<br>
        With one request you can edit maximum 3000 listings (`nmID`). Maximum request size is 10 Mb.<br>
        The process of synchronizing data with services may take up to 30 minutes. During this time, you can't add inventory to warehouses and set prices.


        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 10 requests | 6 s | 5 requests |
        </div>
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required:
                  - nmID
                  - vendorCode
                  - sizes
                minimum: 1
                maximum: 3000
                properties:
                  nmID:
                    type: integer
                    description: WB item number
                  vendorCode:
                    type: string
                    description: Seller item number
                  kizMarked:
                    type: boolean
                    default: false
                    description: |
                      Confirmation that required labeling code [Chestny ZNAK](https://chestnyznak.ru/en) is specified:
                        - `true` — the seller confirms that required labeling code is applied to the item.
                        - `false` — the seller does not confirm that required labeling code is applied to the item. Pass `true` in the request to confirm that the item has required labeling code. The item will not pass moderation if there is no confirmation from the seller that required labeling code is applied to the item.

                      To check if labeling code [Chestny ZNAK](https://chestnyznak.ru/en) is required, use the [Listings](./work-with-products#tag/listings/paths/~1content~1v2~1get~1cards~1list/post) method, the response field `needKiz`
                  brand:
                    type: string
                    description: Brand
                  title:
                    type: string
                    description: Item title
                    maxLength: 60
                  description:
                    type: string
                    description: |
                      Item description.<br>
                      The maximum number of characters depends on the item category<br>
                      Standard — 2000, minimum — 1000, maximum — 5000<br>
                      More details about **rules for filling out the listing** in [Instructions](https://seller.wildberries.ru/instructions/ru/ru/material/how-to-create-card) category of sellers portal
                  dimensions:
                    description: |
                      Dimensions and weight of the item **with packaging**. <br>
                      Specify in `centimeters` and `kilograms` for any item. <br>
                      The process of synchronizing new data with service may take up to 30 minutes
                    type: object
                    properties:
                      length:
                        type: integer
                        description: Length, cm
                      width:
                        type: integer
                        description: Width, cm
                      height:
                        type: integer
                        description: Height, cm
                      weightBrutto:
                        type: number
                        description: Weight, kg<br>Number of decimal places <=3
                  characteristics:
                    type: array
                    description: |
                      Item characteristics
                      <br>
[...]
